In [1]:
import pandas as pd

In [2]:
climate = pd.read_csv('weather_data.csv')
climate

         city        lat         lon month  monthnum  sunshine  rain
0   San Diego  32.715736 -117.161087   Jan         1       217  1.53
1   San Diego  32.715736 -117.161087   Feb         2       255  0.15
2   San Diego  32.715736 -117.161087   Mar         3       234  0.57
3   San Diego  32.715736 -117.161087   Apr         4       236  1.01
4   San Diego  32.715736 -117.161087   May         5       277  0.02
..        ...        ...         ...   ...       ...       ...   ...
67      Miami  25.761681  -80.191788   Aug         8       263  8.88
68      Miami  25.761681  -80.191788   Sep         9       216  9.86
69      Miami  25.761681  -80.191788   Oct        10       215  6.33
70      Miami  25.761681  -80.191788   Nov        11       212  3.27
71      Miami  25.761681  -80.191788   Dec        12       209  2.04

[72 rows x 7 columns]