In [4]:
import pandas as pd
import plotly as px

In [16]:
climate = pd.read_csv('weather_data.csv')
climate

         city        lat         lon month  monthnum  sunshine  rain
0   San Diego  32.715736 -117.161087   Jan         1       217  1.53
1   San Diego  32.715736 -117.161087   Feb         2       255  0.15
2   San Diego  32.715736 -117.161087   Mar         3       234  0.57
3   San Diego  32.715736 -117.161087   Apr         4       236  1.01
4   San Diego  32.715736 -117.161087   May         5       277  0.02
..        ...        ...         ...   ...       ...       ...   ...
67      Miami  25.761681  -80.191788   Aug         8       263  8.88
68      Miami  25.761681  -80.191788   Sep         9       216  9.86
69      Miami  25.761681  -80.191788   Oct        10       215  6.33
70      Miami  25.761681  -80.191788   Nov        11       212  3.27
71      Miami  25.761681  -80.191788   Dec        12       209  2.04

[72 rows x 7 columns]

I want to, for both city, get the average sunshine and rain per season. so for san diego, i want to see the average number of hours it rained vs was sunny for summer, spring, winter, fall.
I want to compare 2 cities based on which have the closest latitude, for west and east coast

In [28]:
def similar_lat(df):
    city_lat_dict = df.set_index('city')['lat'].to_dict()
    return city_lat_dict

similar_lat(climate)

{'San Diego': 32.715736,
 'San Francisco': 37.774929,
 'Chicago': 41.878113,
 'Houston': 29.760427,
 'New York City': 40.712776,
 'Miami': 25.761681}

In [32]:
SD_Climate = climate.copy()
SD_Climate = SD_Climate[SD_Climate['city'] == 'San Diego']
SD_Climate

         city        lat         lon month  monthnum  sunshine  rain
0   San Diego  32.715736 -117.161087   Jan         1       217  1.53
1   San Diego  32.715736 -117.161087   Feb         2       255  0.15
2   San Diego  32.715736 -117.161087   Mar         3       234  0.57
3   San Diego  32.715736 -117.161087   Apr         4       236  1.01
4   San Diego  32.715736 -117.161087   May         5       277  0.02
5   San Diego  32.715736 -117.161087   Jun         6       293  0.03
6   San Diego  32.715736 -117.161087   Jul         7       253  0.07
7   San Diego  32.715736 -117.161087   Aug         8       261  0.12
8   San Diego  32.715736 -117.161087   Sep         9       242  0.78
9   San Diego  32.715736 -117.161087   Oct        10       262  1.81
10  San Diego  32.715736 -117.161087   Nov        11       212  2.27
11  San Diego  32.715736 -117.161087   Dec        12       216  1.98

In [36]:
Miami_Climate = climate.copy()
Miami_Climate = Miami_Climate[Miami_Climate['city'] == 'Miami']
Miami_Climate

     city        lat        lon month  monthnum  sunshine  rain
60  Miami  25.761681 -80.191788   Jan         1       222  1.62
61  Miami  25.761681 -80.191788   Feb         2       227  2.25
62  Miami  25.761681 -80.191788   Mar         3       266  3.00
63  Miami  25.761681 -80.191788   Apr         4       275  3.14
64  Miami  25.761681 -80.191788   May         5       280  5.34
65  Miami  25.761681 -80.191788   Jun         6       251  9.67
66  Miami  25.761681 -80.191788   Jul         7       267  6.50
67  Miami  25.761681 -80.191788   Aug         8       263  8.88
68  Miami  25.761681 -80.191788   Sep         9       216  9.86
69  Miami  25.761681 -80.191788   Oct        10       215  6.33
70  Miami  25.761681 -80.191788   Nov        11       212  3.27
71  Miami  25.761681 -80.191788   Dec        12       209  2.04

In [ ]:
def assign_season(month_num):
    if month_num in [1,2,12]:
        return 'Winter'
    elif month_num in [3,4,5]:
        return 'Spring'
    elif month_num in [6,7,8]:
        return 'Summer'
    else:
        return 'Fall'
    
SD_Climate['season'] = SD_Climate['monthnum'].apply(assign_season)
SD_Climate

         city        lat         lon month  monthnum  sunshine  rain  season
0   San Diego  32.715736 -117.161087   Jan         1       217  1.53  Winter
1   San Diego  32.715736 -117.161087   Feb         2       255  0.15  Winter
2   San Diego  32.715736 -117.161087   Mar         3       234  0.57  Spring
3   San Diego  32.715736 -117.161087   Apr         4       236  1.01  Spring
4   San Diego  32.715736 -117.161087   May         5       277  0.02  Spring
5   San Diego  32.715736 -117.161087   Jun         6       293  0.03  Summer
6   San Diego  32.715736 -117.161087   Jul         7       253  0.07  Summer
7   San Diego  32.715736 -117.161087   Aug         8       261  0.12  Summer
8   San Diego  32.715736 -117.161087   Sep         9       242  0.78    Fall
9   San Diego  32.715736 -117.161087   Oct        10       262  1.81    Fall
10  San Diego  32.715736 -117.161087   Nov        11       212  2.27    Fall
11  San Diego  32.715736 -117.161087   Dec        12       216  1.98  Winter

In [37]:
Miami_Climate['season'] = Miami_Climate['monthnum'].apply(assign_season)
Miami_Climate

     city        lat        lon month  monthnum  sunshine  rain  season
60  Miami  25.761681 -80.191788   Jan         1       222  1.62  Winter
61  Miami  25.761681 -80.191788   Feb         2       227  2.25  Winter
62  Miami  25.761681 -80.191788   Mar         3       266  3.00  Spring
63  Miami  25.761681 -80.191788   Apr         4       275  3.14  Spring
64  Miami  25.761681 -80.191788   May         5       280  5.34  Spring
65  Miami  25.761681 -80.191788   Jun         6       251  9.67  Summer
66  Miami  25.761681 -80.191788   Jul         7       267  6.50  Summer
67  Miami  25.761681 -80.191788   Aug         8       263  8.88  Summer
68  Miami  25.761681 -80.191788   Sep         9       216  9.86    Fall
69  Miami  25.761681 -80.191788   Oct        10       215  6.33    Fall
70  Miami  25.761681 -80.191788   Nov        11       212  3.27    Fall
71  Miami  25.761681 -80.191788   Dec        12       209  2.04  Winter